/*
    Components: Footer
    ---
    The footer of the website
*/

.c-footer__item {
    display: block;

    @include mq(bp3) {
        display: inline;
    }

}

.c-footer__text {
    font-weight: $alpha-font-weight;
    opacity: .5;
}
