/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    position: relative;
    width: 100%;
    @include padding-tb($alpha-leading,0);
    @include padding-lr($columns-gutter,$columns-gutter);

    @include mq(bp1) {
        @include padding-tb($alpha-leading * 2,$alpha-leading);
        @include padding-lr($columns-gutter * 2,$columns-gutter * 2);
    }

    @include mq(bp2) {
        @include padding-tb($alpha-leading * 3,$alpha-leading * 2);
        @include padding-lr($columns-gutter * 3,$columns-gutter * 3);
    }

    @include mq(bp3) {
        @include padding-tb($alpha-leading * 4,$alpha-leading * 3);
        @include padding-lr($columns-gutter * 4,$columns-gutter * 4);
    }

    //@include mq(bp4) {
    //    @include padding-tb($alpha-leading * 5,$alpha-leading * 4);
    //    @include padding-lr($columns-gutter * 5,$columns-gutter * 5);
    //}

    //@include mq(bp5) {
    //    @include padding-tb($alpha-leading * 6,$alpha-leading * 5);
    //    @include padding-lr($columns-gutter * 6,$columns-gutter * 6);
    //}

    & + & {
        //border-top: 1px solid palette(color-neutral,xx-light);
        @include padding-top($alpha-leading * 0);
    }

    .c-row {
        padding-left: 0;
        padding-right: 0;
    }

}

.c-row--main {
    padding-bottom: 0;
}

.c-row--logo {
    //@include mq(bp5) {
    //    position: absolute;
    //    top: 0;
    //    right: 0;
    //}
    align-items: flex-start;
}

.c-row--main {
    //margin-top: auto;
    align-self: flex-end;
}
