/*
    Elements: Fonts
    ---
    Font-face declarations
*/

//@font-face {
//    font-family: 'Suisse Mono';
//    src: url('../fonts/SuisseIntlMono-Regular-WebS.woff2') format('woff2'),
//         url('../fonts/SuisseIntlMono-Regular-WebS.woff') format('woff');
//    font-weight: 400;
//}

//@font-face {
//  font-family: 'Graphik Web';
//  src: url('../fonts/Graphik-Bold-Web.eot');
//  src: url('../fonts/Graphik-Bold-Web.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/Graphik-Bold-Web.woff2') format('woff2'),
//       url('../fonts/Graphik-Bold-Web.woff') format('woff');
//  font-weight:  700;
//  font-style:   normal;
//  font-stretch: normal;
//}

//@font-face {
//  font-family: 'Graphik Web';
//  src: url('../fonts/Graphik-Regular-Web.eot');
//  src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/Graphik-Regular-Web.woff2') format('woff2'),
//       url('../fonts/Graphik-Regular-Web.woff') format('woff');
//  font-weight:  400;
//  font-style:   normal;
//  font-stretch: normal;
//}

//@font-face {
//  font-family: 'GT Sectra';
//  src: url('../fonts/GT-Sectra-Book.eot');
//  src: url('../fonts/GT-Sectra-Book.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/GT-Sectra-Book.woff') format('woff');
//  font-weight:  400;
//  font-style:   normal;
//  font-stretch: normal;
//}

@font-face {
  font-family: 'GT Walsheim';
  src: url('../fonts/GT-Walsheim-Regular.eot');
  src: url('../fonts/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GT-Walsheim-Regular.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}
