/*
    Objects: Flexbox
    ---
    Flexbox system. Control the widths with utility classes
*/

// Flexbox container

.o-flex {
    display: flex;
    flex-wrap: wrap;
}

.o-flex--nowrap {
    flex-wrap: nowrap;
}

// Orientation

.o-flex--horizontal {
    flex-direction: row;
}

.o-flex--horizontal-rev {
    flex-direction: row-reverse;
}

.o-flex--vertical {
    flex-direction: column;
}

.o-flex--vertical-rev {
    flex-direction: column-reverse;
}

.o-flex--horizontal-bp3 {

    @include mq(bp3) {
        flex-direction: row;
    }

}

// Alignment

.o-flex--align-start {
    align-items: flex-start;
}

.o-flex--align-end {
    align-items: flex-end;
}

.o-flex--align-center {
    align-items: center;
}

.o-flex--align-stretch {
    align-items: stretch;
}

.o-flex--align-baseline {
    align-items: stretch;
}

// Justify

.o-flex--justify-start {
    justify-content: flex-start;
}

.o-flex--justify-end {
    justify-content: flex-end;
}

.o-flex--justify-center {
    justify-content: center;
}

.o-flex--justify-space-around {
    justify-content: space-around;
}

.o-flex--justify-space-between {
    justify-content: space-between;
}

    // Children

    .o-flex__item {
        display: flex;
        flex-direction: column; // Fill out child elements

        .o-flex--gutter > & {
            @include padding-lr($grid-gutter,$grid-gutter);
        }

        .o-flex--grow-items > & {
            flex-grow: 1;
        }

    }

    // Equal height columns

    .o-flex__column {
        flex: 1 0 auto;
    }
