/*
    Utilities: Order
    ---
    Flex order utility class
*/

.u-order-1 {
    order: 1;
}

.u-order-2 {
    order: 2;
}

.u-order-3 {
    order: 3;
}

.u-order-4 {
    order: 4;
}

.u-order-5 {
    order: 5;
}

.u-order-6 {
    order: 6;
}

.u-order-7 {
    order: 7;
}

.u-order-8 {
    order: 8;
}
