<footer class="c-row c-row--footer">
    <div class="o-container">
        <div class="c-footer">
            <p class="c-footer__item c-footer-text">
                &copy; {{ site.time | date: '%Y' }} Simon Coudeville
            </p>
            <ul class="c-footer__item o-list c-footer-links">
                <li class="c-footer-links__item">
                    <a href="https://dribbble.com/coudeville" class="c-footer-links__link">Dribble</a>
                </li>
                <li class="c-footer-links__item">
                    <a href="https://twitter.com/simoncoudeville" class="c-footer-links__link">Twitter</a>
                </li>
                <li class="c-footer-links__item">
                    <a href="https://be.linkedin.com/in/simoncoudeville" class="c-footer-links__link">LinkedIn</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
